header.header
  .container
    .row
      .col-md-3.col-6
        .inner-logo
          a(href="/")
            img(src="/images/logo.svg", alt="Logo") 
      .col-md-9.col-6
        ul.box-menu
          li
            a(href="/") Home
          li
            a(href="/products") Products