extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .products
    .container
      .row
        .col-12
          +box-head("Products")
        .col-md-3.col-sm-6.col-12
          .box-item
            .inner-img
                img(src="https://cdn.dummyjson.com/products/images/beauty/Essence%20Mascara%20Lash%20Princess/thumbnail.png", alt="Item")
            .inner-content
              h3.title Mascara
              .new-price 100$
              .old-price 120$
              .discount 20%